<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome to the guild</h2>
<div th:if="${power >= 0 && power <= 20000}">
    <h3 th:text="${'the power is ' + power + ' C Class'}"></h3>
</div>
<div th:if="${power >= 20000 && power <= 100000}">
    <h3 th:text="${'the power is ' + power + ' B Class'}"></h3>
</div>
<div th:if="${power > 100000}">
    <h3 th:text="${'the power is ' + power + ' A Class'}"></h3>
</div>

</body>
</html>